pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu117
pip install wheel etna --upgrade pip --upgrade setuptools
pip install tsfresh
pip install protobuf
pip install etna